server:
  port: 8080
  error:
    include-message: always

reminder:
  send:
    interval-ms: 60000

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/reminder_app_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://accounts.google.com
  task:
    scheduling:
      pool:
        size: 5
      thread-name-prefix: "remind-task-"
